* {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 1440px;
  height: 100%;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.clear {
  clear: left;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 138px;
  margin: 0 auto;
}

/* HEADER */

header {
    height: 145px;
    width: 100%;
    background-color: #158989;
    top: 0;
    z-index: 10;
    border-radius: 30px 30px 0px 0;
}

.logo {
  width: 335px;
  height: 67px;
  float: left;
  margin-top: 39px;
}

.header-right {
  float: right;
}

.header-right a {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  float: left;
  margin-top: 54px;
}

.P,.S {
  height: 36px;
  margin-top: 54px;
  margin-right: 35px
}

.C {
  height: 36px;
  margin-top: 54px;
}

/* MENU */

.desc-wrapper {
  padding: 0px 138px;
}

/* .Desc-container{
  width: 1164px;
  height: 755px;
  padding-top: 1000px;
} */

.sub-dsc {
  color: #158989;
  font-size: 48px;
  font-weight: 900;
}

.desc {
  font-size: 24px;
  margin-top: -25px;
}

.b71,.ias,.wpr {
    width: 474px;
    height: 196px;
    border-radius: 20px;
    border: 2px solid #D2D2D2;
    /* box-shadow: 0px 0px 2px #000000; */
    margin-bottom: 25px;
}

.b71 p,.ias p,.wpr p {
    margin-left: 44px;
    width: 386px;
}
 
.sub-ttl {
    color: #143642;
    font-size: 30px;
    font-weight: 700;
    padding-top: 5px;
}

.gmap {
    width: 572px;
    height: 572px;
    border-radius: 20px;
    margin-top: -700px;
    margin-left: 600px;
    position: absolute;
}

/* FOOTER */

footer {
  height: 460px;
  width: 100%;
  background-color: #143642;
  margin-top: 100px;
  z-index: 10;
  border-radius: 30px 30px 0px 0;
}

.logo-footer {
  width: 335px;
  height: 67px;
  float: left;
  margin-top: 80px;
}

.left-contact {
  margin-top: 151px;
}

.email-footer {
  width: 40px;
  height: 32px;
}

.telp-footer {
  margin-left: 27px;
  width: 32px;
  height: 32px;
}

.right-footer {
  float: right;
  margin-top: -120px;
}

.right-footer a {
  font-size: 24px;
  margin-bottom: 20px;
  display: inline-block; 
}

.p,.s,.c {
  color: #EC9A29;
  font-weight: 700;
}

.p {
  margin-right: 143px;
}

.s {
  margin-right: 132px;
}

.cb,.l {
  margin-right: 100px;
}